// Blog Common Style

.blog-index {
  display: grid;
  grid-template-columns: 1fr;
}

.blog-meta-data {
  margin-bottom: 12px;
}

.blog-meta-data,
.blog-meta-data a {
  color: var(--b-meta-data);
  font-size: 12px;
}

// Blog Index Post Thumbnail Style

.blog-article-box {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  // gap: 1rem;
  background-color: var(--c-card);

  @media screen and (min-width: $tablet) {
    flex-direction: row;
  }

  .blog-thumb-img-link {
    min-width: 300px;
  }

  .blog-thumb-img {
    transition: var(--transition);
    width: 100%;
    height: 100%;
    object-fit: cover;

    @media screen and (min-width: $tablet) {
      filter: brightness(96%);

      &:hover {
        filter: brightness(100%);
      }
    }
  }

  .blog-post {
    display: flex;
    flex-direction: column;
    padding: 10px;

    @media screen and (min-width: $tablet) {
      padding: 10px 24px;
    }

    .blog-title {
      margin-bottom: 8px;
    }

    .blog-title a {
      transition: var(--transition);

      &:hover {
        color: var(--c-point);
      }
    }

    .blog-excerpt {
      p {
        display: inline-block;
      }

      .blog-read-more-btn-box {
        margin-top: 10px;
      }

      .blog-read-more-btn {
        font-size: 14px;
        font-weight: 600;
        margin-top: 10px;
        color: var(--c-point);
        text-decoration: underline;
      }
    }
  }
}

// Pagination

nav.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  padding-top: 20px;

  .nav-links {
    a {
      padding: 4px 8px;

      &:hover {
        color: var(--c-point);
      }
    }

    .page-numbers.current {
      color: var(--c-point);
      border: 1px solid var(--c-point);
      padding: 4px 8px;
      border-radius: 6px;
    }
  }
}

// Blog Article

.blog-article-wrapper {
  max-width: 680px;
  margin: 0 auto;
}

.blog-article {
  h2 {
    margin-bottom: 1rem;
  }

  .blog-meta-data {
    margin-bottom: 2rem;
  }

  .blog-content {
    margin-bottom: 6rem;
    // text-align: justify;
  }

  .post-feat-img {
    margin-bottom: 2rem;
    width: 100%;
  }

  strong {
    color: var(--c-title);
  }

  .wp-block-image {
    text-align: center;
    margin: 1.5rem auto 1rem auto;
  }

  .wp-block-image img {
    max-width: 80%;
    height: 100%;
    object-fit: cover;
  }

  figcaption {
    font-size: 12px;
    color: var(--clr--grey);
  }
}

hr {
  border-color: var(--clr--border);
  max-width: 680px;
  margin: 0 auto;
}

// Comments Style -- Comments

.blog-comments {
  max-width: 680px;
  margin: 0 auto;
}

.comments-body {
  .comment {
    padding: 1rem;
    font-size: 14px;

    .avatar {
      border-radius: 50%;
      width: 36px;
      height: 36px;
    }

    .says {
      font-size: 12px;
    }

    .comment-meta {
      margin-bottom: 0.5rem;
    }

    .comment-meta a {
      font-size: 12px;
      color: var(--clr--grey);
    }

    .reply {
      margin-top: 0.5rem;
    }

    .reply a {
      color: var(--clr--point-lime);
      text-decoration: underline;
    }
  }
}

// Comments Style -- Comments Form

#comments {
  padding: 0;

  .comments-header {
    margin-bottom: 2rem;
  }

  .comments-inner {
    background-color: #eef2ff;
    border-radius: 10px;
    padding: 2rem;
    font-size: 14px;

    .comment-reply-title {
      margin-bottom: 1rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form p {
    margin-bottom: 1rem;
    color: var(--clr--main-dark);
    width: 100%;
  }

  input[type='text'],
  textarea {
    padding: 10px;
    // border: 1px solid var(--clr--border);
    border: none;
    border-radius: 4px;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
  }

  input[type='text']:focus,
  textarea:focus {
    border-color: var(--clr--point-lime);
  }

  input[type='submit'] {
    border: none;
    width: 100%;
    background-color: var(--clr--main-dark);
    color: var(--clr--white);
    padding: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--transition);

    &:hover {
      background-color: var(--clr--point-lime);
    }
  }

  textarea {
    resize: vertical;
  }

  label {
    font-size: 12px;
    display: block;
    margin-bottom: 4px;
  }
}

hr {
  border: 1px solid var(--clr--border);
  opacity: 0.25;
}

// Side Bar Style

.blog-side-bar {
  margin: 3rem auto;
  max-width: 680px;

  .wp-block-group,
  .popular-posts {
    margin-bottom: 2rem;
  }

  h2 {
    color: var(--clr--main-dark);
    font-size: 22px;
    margin-bottom: 10px;
  }

  .wp-block-search {
    margin-bottom: 2em;
  }

  .wp-block-search label {
    display: none;
  }

  input[type='search'] {
    border-color: var(--clr--border);
    padding: 10px;
    border-radius: 4px;
  }

  .popular-posts .wpp-post-title {
    font-weight: 600;
    display: block;
  }

  .popular-posts .wpp-excerpt {
    font-size: 0.9rem;
  }

  .popular-posts .wpp-meta {
    margin-top: 4px;
  }
}
