h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--c-l-title);
}

h1 {
  font-size: var(--f-1);
}

h2 {
  font-size: var(--f-2);
}

h3 {
  font-size: var(--f-3);
}

h4 {
  font-size: var(--f-4);
}

h5 {
  font-size: var(--f-5);
}

.alphabet {
  font-family: var(--fam-en);
}

a {
  text-decoration: none;
  color: var(--clr--main-light);
  transition: var(--transition);
}

li {
  list-style: none;
}

.section-padding {
  padding: 4rem 0;
}

.body-padding,
.post-padding {
  padding: 6rem 0;
}

.blog-padding {
  padding: 8rem 0;
}

.btn-primary {
  display: inline-block;
  background-color: var(--c-l-sub-point);
  color: var(--c-white);
  border: 0;
  border-radius: var(--btn-border-radius);
  transition: var(--transition);
  padding: 8px 16px;

  &:hover {
    background-color: var(--c-l-sub-point-light);
  }
}

.top-section-img {
  padding: 8rem 0;
}

.ccl-hero {
  width: 100%;
}

.container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;

  @media screen and (min-width: $tablet) {
    padding: 0;
  }
}

.spanish {
  font-family: var(--fam-en);
}
