header {
    position: relative;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: var(--c-bg);
    transition: var(--transition);
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .navbar-brand {
        width: 52px;

        img {
            width: 100%;
        }
    }

    .nav-menu {
        display: block;
        position: absolute;
        top: 64px;
        left: 0;
        right: 0;
        width: 100%;
        height: 0;
        background-color: var(--c-bg);
        overflow: hidden;
        transform-origin: top right;
        transition: 10ms;
        opacity: 0;

        &.open {
            min-height: calc(100vh - 64px);
            opacity: 1;
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            height: 100%;
            gap: 2rem;

            li {
                padding: 2rem 0;
                width: 100%;
                text-align: center;
                color: var(--c-para);

                &:hover {
                    color: var(--c-point);
                }

                &.mode-btn-box {
                    // margin-top: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .mode-toggle-btn {
            width: 24px;
            cursor: pointer;
        }

        @include desktop {
            width: 100%;
            height: max-content;
            opacity: 1;
            position: static;

            ul {
                flex-direction: row;
                margin-left: auto;
                width: max-content;

                li {
                    width: max-content;
                    padding: 10px;
                    font-size: 0.93rem;
                }
            }
        }
    }

    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .navBtn {
            width: 30px;
        }

        @include desktop {
            display: none;
        }
    }
}
