// ##### Main hero section

.ccl-hero {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  justify-items: center;
  width: 100%;
  text-align: center;

  .intro-text {
    order: 2;

    .welcome {
      font-size: 2.5rem;
      font-weight: 300;
      color: var(--c-sub-point);
    }
  }

  .intro-img {
    order: 1;
    width: 90%;
  }

  .btn-call-action {
    margin: 2rem auto 0 auto;
    padding: 16px 32px;
  }

  @media screen and (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    padding: 5rem 0;
    text-align: left;

    .intro-text {
      order: 1;
      padding-left: 20px;
      margin: auto 0;
    }
    .intro-img {
      order: 2;
    }
  }
}

// ##### Card Section

section.cards {
  padding-bottom: 4rem;

  @media screen and (min-width: $tablet) {
    padding-bottom: 8rem;
  }
}

.ccl-cards {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 1rem;

  .ccl-card {
    padding: 2rem 1rem 1.5rem;
    background-color: var(--c-card);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;

    .ccl-card-icon {
      width: 48px;
      margin-bottom: 1rem;

      img {
        width: 100%;
      }
    }

    .ccl-card-text h4 {
      color: var(--c-sub-point);

      a:active {
        color: var(--c-point);
      }
    }
  }

  @media (min-width: $tablet) {
    grid-template-columns: repeat(4, 1fr);
    text-align: center;

    .ccl-card {
      &:nth-child(1) {
        transform: translateY(-16px);
      }

      &:nth-child(2) {
        transform: translateY(16px);
      }

      &:nth-child(3) {
        transform: translateY(-16px);
      }

      &:nth-child(4) {
        transform: translateY(16px);
      }

      transition: box-shadow 0.3s;

      &:hover {
        box-shadow: 0 0 16px rgba(33, 33, 33, 0.1);
      }

      h3 a:hover {
        color: var(--c-l-point);
      }
    }
  }
}

// ##### Blog Section

section.blog {
  .section-header {
    margin-bottom: 1rem;
  }

  .blog-wrapper {
    display: flex;
    overflow-x: scroll;

    // hide scrollbar
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    //

    .blog-card {
      min-width: 280px;
      max-height: 520px;
      overflow: hidden;
      border-radius: var(--border-radius);
      background-color: var(--c-card);
      transition: var(--transition);

      &:not(:last-child) {
        margin-right: 10px;
      }

      @media screen and (min-width: $tablet) {
        min-width: 33.3%;
      }

      // image

      &-thumb-img {
        height: 200px;
        margin-bottom: 0.5rem;
        position: relative;
        transition: all var(--transition);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .post-category {
          position: absolute;
          top: 4%;
          background-color: var(--c-point);
          color: var(--c-white);
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 4px 8px;
          font-size: var(--f-6);

          p {
            margin-left: 4px;
          }
        }
      }

      // data part

      &-data {
        padding: 10px;

        h4 {
          margin-bottom: 0.5rem;
        }

        h4 a:hover,
        h4 a:active {
          color: var(--c-point);
        }

        .blog-card-date {
          font-size: var(--f-6);
          color: var(--b-meta-data);
        }

        .blog-card-post {
          margin: 0.5rem 0;

          .read-more {
            font-size: var(--f-5);
            font-weight: 600;
            color: var(--c-point);
            margin-left: 4px;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    } //.blog-card
  }

  .see-all-posts {
    margin-top: 2rem;
    text-align: center;

    a {
      position: relative;
    }

    .underline-img {
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      z-index: -1;
    }
  }

  // blog section tablet <

  @media screen and (min-width: $tablet) {
    .blog-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      overflow: hidden;
      gap: 16px;

      .blog-card {
        margin-right: 0;
        width: 100%;

        &:hover {
          box-shadow: 0 0 16px rgba(33, 33, 33, 0.1);
        }

        &:hover .blog-card-thumb-img {
          filter: brightness(105%);
        }

        &-data {
          h3 {
            &:hover {
              color: var(--c-point);
            }
          }
        }
      }
    }

    .see-all-posts a:hover {
      color: var(--c-point);
    }
  }
} // section.blog

//
// ##### About Section

section.about {
  .section-header {
    margin-bottom: 1rem;
  }

  a {
    display: inline-block;
  }

  .buymeacoffee-banner {
    margin-top: 1.5rem;
    width: 200px;
  }

  @media screen and (max-width: $mobile) {
    a {
      width: 100%;
      text-align: center;
    }
  }
}
