// ##### Main hero section

.top-section-img {
    padding: 10% 0 20%;

    @include desktop {
        padding: 10% 0 14%;
    }
}

.ccl-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    text-align: center;

    .intro-text {
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1.2rem;

        & > p {
            font-size: 0.875rem;
        }

        .welcome {
            font-size: 2.5rem;
            font-weight: 300;
            color: var(--c-sub-point);
        }
    }

    .intro-img {
        order: 1;
        width: 90%;
        max-width: 460px;
    }

    .btn-call-action {
        font-size: 0.93rem;
        margin: 2rem auto 0 0;
        padding: 1em 2em;
    }

    @include desktop {
        flex-direction: row;
        padding: 5rem 0;
        text-align: left;

        .intro-text {
            order: 1;
            padding-left: 20px;
            margin: auto 0;
        }
        .intro-img {
            order: 2;
        }
    }
}

// ##### Card Section

section.cards {
    padding-bottom: 4rem;

    @include tablet {
        padding-bottom: 8rem;
    }
}

.ccl-cards {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 1.2rem;

    .ccl-card {
        padding: 2rem;
        background-color: var(--c-card);
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .ccl-card-icon {
            width: 48px;
            margin-bottom: 1rem;

            img {
                width: 100%;
            }
        }

        .ccl-card-text h4 {
            color: var(--c-sub-point);
            margin-bottom: 0.5rem;

            a:hover,
            a:active {
                color: var(--c-point);
            }
        }

        .ccl-card-text p {
            font-size: 0.93rem;
        }
    }

    @include desktop {
        display: flex;
        text-align: center;

        .ccl-card {
            width: 25%;

            &:nth-child(1) {
                transform: translateY(-16px);
            }

            &:nth-child(2) {
                transform: translateY(16px);
            }

            &:nth-child(3) {
                transform: translateY(-16px);
            }

            &:nth-child(4) {
                transform: translateY(16px);
            }

            transition: box-shadow 0.3s;

            &:hover {
                box-shadow: 0 0 16px rgba(33, 33, 33, 0.1);
            }

            h3 a:hover {
                color: var(--c-l-point);
            }
        }
    }
}

// ##### Blog Section

section.blog {
    .section-header {
        margin-bottom: 1rem;
    }

    .blog-wrapper {
        display: flex;
        overflow-x: scroll;

        // hide scrollbar
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        //

        .blog-card {
            min-width: 280px;
            max-height: 520px;
            overflow: hidden;
            border-radius: var(--border-radius);
            background-color: var(--c-card);
            transition: var(--transition);

            &:not(:last-child) {
                margin-right: 10px;
            }

            @include tablet {
                min-width: 33.3%;
            }

            // image

            &-thumb-img {
                height: 200px;
                margin-bottom: 0.5rem;
                position: relative;
                transition: all var(--transition);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .post-category {
                    position: absolute;
                    top: 4%;
                    background-color: var(--c-point);
                    color: var(--c-white);
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 4px 8px;
                    font-size: var(--f-6);

                    p {
                        margin-left: 4px;
                    }
                }
            }

            // data part

            &-data {
                padding: 10px;

                h4 {
                    margin-bottom: 0.5rem;
                }

                h4 a:hover,
                h4 a:active {
                    color: var(--c-point);
                }

                .blog-card-date {
                    font-size: var(--f-6);
                    color: var(--b-meta-data);
                }

                .blog-card-post {
                    margin: 0.5rem 0;

                    .read-more {
                        font-size: var(--f-5);
                        font-weight: 600;
                        color: var(--c-point);
                        margin-left: 4px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        } //.blog-card
    }

    .see-all-posts {
        margin-top: 2rem;
        text-align: center;

        a {
            position: relative;
        }

        .underline-img {
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 100%;
            z-index: -1;
        }
    }

    // blog section tablet <

    @include tablet {
        .blog-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            overflow: hidden;
            gap: 16px;

            .blog-card {
                margin-right: 0;
                width: 100%;

                &:hover {
                    box-shadow: 0 0 16px rgba(33, 33, 33, 0.1);
                }

                &:hover .blog-card-thumb-img {
                    filter: brightness(105%);
                }

                &-data {
                    h3 {
                        &:hover {
                            color: var(--c-point);
                        }
                    }
                }
            }
        }

        .see-all-posts a:hover {
            color: var(--c-point);
        }
    }
} // section.blog

//
// ##### About Section

section.about {
    .section-header {
        margin-bottom: 1rem;
    }

    a {
        display: inline-block;
    }

    .buymeacoffee-banner {
        margin-top: 1.5rem;
        width: 200px;
    }

    @include tablet {
        a {
            width: 100%;
            text-align: center;
        }

        body {
            display: none;
        }
    }
}
