.page-padding {
  margin: 5rem 0;
}

.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 240px;
  background-position: center bottom;
  background-attachment: fixed;

  &-title {
    color: #fff;
  }

  &.zaragoza {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75)),
      url('./assets/images/pages/ccl-zaragoza.jpg');
  }

  &.toledo {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75)),
      url('./assets/images/pages/ccl-toledo.jpg');
  }

  &.segovia {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75)),
      url('./assets/images/pages/ccl-segovia.jpg');
  }

  &.salchicon {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75)),
      url('./assets/images/pages/ccl-salchicon.jpg');
  }
}
