:root {
  --clr--white: #fff;
  --clr--bg: #f4f7fb;
  --clr--main-dark: #161e34;
  --clr--main-light: #6978a0;
  --clr--border: #c4c4c4;
  --clr--grey: #a7a7a7;
  --clr--point-lime: #35c635;
  --clr--point-orange: #f5b452;
  --border-radius: 10px;
  --transition: 200ms;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: var(--clr--bg);
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr--main-dark);
}

.section-padding {
  padding: 3rem 0;
}

.body-padding {
  padding: 6rem 0;
}

.btn-primary {
  background-color: var(--clr--main-light);
  color: var(--clr--white);
  border: 0;
  border-radius: var(--border-radius);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.btn-primary:hover {
  background-color: var(--clr--point-orange);
}

.top-section-img {
  padding: 6rem 0;
}

.ccl-hero {
  width: 100%;
}

.container {
  position: relative;
  max-width: 1196px;
  margin: 0 auto;
  padding: 0 3rem;
}

.text-16 {
  color: var(--clr--main-light);
}

.text-14 {
  font-size: 0.875rem;
}

.text-12 {
  font-size: 12px;
}

.clr--main-light {
  color: var(--clr--main-light);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

nav {
  width: 100%;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav #logo {
  width: auto;
  height: 4rem;
}

nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .links ul li {
  margin: 0 1rem;
}

nav .links ul .nav-link {
  color: var(--clr--main-light);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

nav .links ul .nav-link:hover {
  color: var(--clr--main-dark);
  font-weight: 700;
}

nav .links .mode-toggle-btn {
  width: 36px;
  margin-left: 10px;
  padding: 5px;
  cursor: pointer;
  background-color: #e4e4e4;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

nav .links .mode-toggle-btn:hover {
  background-color: #d8d7d7;
}

header.scrolled {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

header.scrolled #logo {
  height: 3.8rem;
}

.hamburger {
  display: none;
  position: relative;
  padding: 1rem 0;
  width: 25px;
  height: 12px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  cursor: pointer;
}

.hamburger .bar {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--heading-color);
  border-radius: 3px;
}

.hamburger .bar:first-child {
  top: 1rem;
  -webkit-transition: top 0.2s 0.15s, -webkit-transform 0.3s;
  transition: top 0.2s 0.15s, -webkit-transform 0.3s;
  transition: top 0.2s 0.15s, transform 0.3s;
  transition: top 0.2s 0.15s, transform 0.3s, -webkit-transform 0.3s;
}

.hamburger .bar:last-child {
  bottom: 1rem;
  -webkit-transition: bottom 0.2s 0.15s, -webkit-transform 0.3s;
  transition: bottom 0.2s 0.15s, -webkit-transform 0.3s;
  transition: bottom 0.2s 0.15s, transform 0.3s;
  transition: bottom 0.2s 0.15s, transform 0.3s, -webkit-transform 0.3s;
}

body.open .hamburger .bar:first-child {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  -webkit-transition: top 0.2s, -webkit-transform 0.3s 0.1s;
  transition: top 0.2s, -webkit-transform 0.3s 0.1s;
  transition: top 0.2s, transform 0.3s 0.1s;
  transition: top 0.2s, transform 0.3s 0.1s, -webkit-transform 0.3s 0.1s;
}

body.open .hamburger .bar:last-child {
  bottom: 50%;
  -webkit-transform: translateY(50%) rotate(45deg);
          transform: translateY(50%) rotate(45deg);
  -webkit-transition: bottom 0.2s, -webkit-transform 0.3s 0.1s;
  transition: bottom 0.2s, -webkit-transform 0.3s 0.1s;
  transition: bottom 0.2s, transform 0.3s 0.1s;
  transition: bottom 0.2s, transform 0.3s 0.1s, -webkit-transform 0.3s 0.1s;
}

body.dark .mode-toggle-btn:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

body.dark .nav-link:hover::after,
body.dark .nav-link.active::after {
  opacity: 0.6;
}

.ccl-hero.intro {
  height: 460px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ccl-hero.intro .intro-text h1 {
  font-size: 48px;
  margin-bottom: 1rem;
}

.ccl-hero.intro .btn-call-action {
  display: inline-block;
  margin-top: 2rem;
  padding: 10px 20px;
}

.ccl-hero.intro .intro-img {
  width: 90%;
}

section.cards {
  padding-bottom: 3rem;
}

.ccl-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.ccl-cards .ccl-card {
  padding: 2rem 1rem 1.5rem;
  background-color: var(--clr--white);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ccl-cards .ccl-card .ccl-card-icon {
  width: 25%;
  min-width: 60px;
  margin-bottom: 2rem;
}

.ccl-cards .ccl-card .ccl-card-icon svg path {
  fill: var(--clr--main-light);
}

.ccl-cards .ccl-card .ccl-card-text h3 {
  margin-bottom: 0.5rem;
}

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.section-header .link-underline {
  text-decoration: underline;
  font-size: 12px;
  color: var(--clr--main-light);
}

.section-header .link-underline:hover {
  color: var(--clr--main-dark);
}

.blog-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.blog-wrapper .blog-card {
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--clr--white);
}

.blog-wrapper .blog-card-thumb-img img {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-wrapper .blog-card-data {
  padding: 10px 16px;
}

.blog-wrapper .blog-card h4 a {
  color: var(--clr--main-dark);
  font-size: 1.2rem;
}

.blog-wrapper .blog-card-date {
  font-size: 12px;
  color: var(--clr--border);
  margin: 10px 0;
  text-align: right;
}

.blog-wrapper .blog-card-post {
  margin-bottom: 1rem;
}

.blog-wrapper .blog-card-more-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-wrapper .blog-card-category {
  border: 1px solid var(--clr--border);
  padding: 4px;
  border-radius: 4px;
}

.blog-wrapper .blog-card-category a {
  color: var(--clr--grey);
}

.blog-wrapper .blog-card-read-more {
  background-color: var(--clr--main-dark);
  color: var(--clr--white);
  padding: 8px 16px;
  border-radius: 6px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.blog-wrapper .blog-card-read-more:hover {
  background-color: var(--clr--point-orange);
  color: var(--clr--main-dark);
}

.buymeacoffee-banner {
  margin-top: 1.5rem;
  width: 200px;
}

footer {
  background-color: #111;
  color: #bebebe;
  text-align: center;
}

footer .social-media-links {
  margin-bottom: 1rem;
  font-size: 14px;
}

footer .social-media-links a {
  color: var(--clr--main-light);
  text-transform: uppercase;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

footer .social-media-links a:nth-child(2) {
  margin: 0 1rem;
}

footer .social-media-links a:hover {
  color: #fff;
}

.blog-index {
  padding: 10rem 0;
}
